################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RefrenceSolution/.vs/RefrenceSolution
/RefrenceSolution/BookManager/bin/Debug/netcoreapp3.1
/RefrenceSolution/BookManager/obj
/RefrenceSolution/BookManager/wwwroot/lib
/ASP.NET MVC/.vs
/ASP.NET MVC/ProjectDemo/.vs/ProjectDemo
/ASP.NET MVC/ProjectDemo/Concepts/bin
/ASP.NET MVC/ProjectDemo/Concepts/obj/Debug
/ASP.NET MVC/ProjectDemo/packages
/MVC Core Concepts/MVCCoreConcepts/.vs/MVCCoreConcepts/v16
/MVC Core Concepts/MVCCoreConcepts/CustomerApplicationSample/obj
/MVC Core Concepts/MVCCoreConcepts/CustomerApplicationSample/bin/Debug/netcoreapp3.1
/MVC Core Concepts/MVCCoreConcepts/.vs/MVCCoreConcepts/config
