################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RefrenceSolution/.vs/RefrenceSolution
/RefrenceSolution/BookManager/bin/Debug/netcoreapp3.1
/RefrenceSolution/BookManager/obj
/RefrenceSolution/BookManager/wwwroot/lib
